/*admin page*/
@font-face {
    font-family: "iransans";
    src: url(font/IRANSans/IRANSans.ttf);
    
}
@font-face {
    font-family: "iransansBold";
    src: url(font//IRANSans/IRANSans_Bold.ttf)
}
body {
    font-family: "iransans";
    direction:rtl;
}
    h1
{
    text-align:center;
}
.ExcelTable2007 {
    font-size: 12pt;
    font-family: iransansBold;
    font-weight: 100;
    direction:rtl;
    margin-right:2%;
}

    .ExcelTable2007 TH {
        background-image: url(../Uploads/excel-2007-header-bg.gif);
        background-repeat: repeat-x;
        font-weight: normal;
        font-size: 14px;
        border: 1px solid #9EB6CE;
        border-width: 0px 1px 1px 0px;
        height: 17px;
        text-align:center;
       
    }

    .ExcelTable2007 TD {
        border: 0px;
        background-color: white;
        padding: 0px 4px 0px 2px;
        border: 1px solid #D0D7E5;
        border-width: 0px 1px 1px 0px;
    }

        .ExcelTable2007 TD input , select {
            border: 0px;
            background-color: white;
            font-weight: bold;
            background-color: #E4ECF7;
            text-align: center;
            border: 1px solid #9EB6CE;
            border-width: 0px 1px 1px 0px;
            width:100%;
            height:100%;
        }
        

    .ExcelTable2007 TH.heading {
        background-image: url(../Uploads/excel-2007-header-left.gif);
        background-repeat: none;
        text-align:center;
        height:100%;
    }

    /*HomePage*/

.HomePageBG {
    background: rgb(142, 187, 244);
    background: linear-gradient(0deg, rgba(142, 187, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.HomeContainer {
    height:1080px;
}

.HomePageBoard {
    font-family: iransans;
    font-size: 2em;
    height:22%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}