@{
    Layout = "_Layout";
    ViewBag.Title = "تنظیمات وب سایت";
}


<form action="/UserPanel/Home/ImportExcel" asp-area="UserPanel" asp-controller="Home" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="fileUpload">انتخاب فایل اکسل برای وارد کردن :</label>
        <input type="file" name="file" accept=".xlsx" id="fileUpload" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary w-100">بارگذاری</button>
</form>
<br />

<form action="/UserPanel/Home/ClearTable" asp-area="UserPanel" asp-controller="Home" method="post">

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary w-100">ریست کردن جدول دیتابیس</button>
    </form>
    <script src="~/js/site.js"></script>
